.body{
	background: #f7f7f7;
	font-family: verdana;
}

.carousel-item img {
	height: 550px;
}

.container{
	margin-top: 50px;
}

.card-header {
	border-radius: 0px!important;
}

.top-head{
	background: rgba(246, 216, 9, 0.8);
}

h2, h4 {
	color: white;
}

.card {
	border-radius: 0px!important;
}

.btn-login{
	width: 100%;
	letter-spacing: 3px;
	border-radius: 0px!important;
}

.label{
	font-size: 14px;
}

p img {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.footer{
	font-size : 10px;
	text-align: right;
}

input {
	border-radius: 0px!important;
}